APP_ENV=dev
APP_SECRET=change-me
APP_SHARE_DIR=/var/www
DEFAULT_URI=https://localhost

DATABASE_URL="postgresql://postgres:change-me@postgres:5432/gym_database?serverVersion=16&charset=utf8"
MESSENGER_TRANSPORT_DSN="amqp://user:change-me@rabbitmq:5672/%2f/messages"
MAILER_DSN=smtp://mailpit:1025

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=change-me

STRIPE_SECRET_KEY=sk_test_change_me
STRIPE_PUBLIC_KEY=pk_test_change_me
STRIPE_WEBHOOK_SECRET=whsec_change_me

CLICKHOUSE_HOST=http://clickhouse:8123/
CLICKHOUSE_DB=analytics
CLICKHOUSE_USER=analytics
CLICKHOUSE_PASSWORD=change-me

MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=change-me
MINIO_BUCKET=evogym-bucket
MINIO_ENDPOINT=http://minio:9000
